<footer
  class="align-bottom border-primary border flex items-center justify-center"
>
  <section>
    <article class="text-center">
      <span>Dirección</span>
      <p>Av. Fray Antonio Alcalde 10, 44100 Guadalajara, Jal., México</p>
    </article>

    <article class="text-center">
      <span>Contacto</span>
      <p>Info@misitio.com +52-1-33-12345678</p>
    </article>

    <article class="text-center">
      <span>Horarios</span>
      <div class="flex flex-col">
        <span> Dom - Jue: 10:00 - 22:00 </span>
        <span> Vie - Sáb: 10:00 - 35:00 </span>
      </div>
    </article>

    <article>
      <ul class="flex items-center justify-center flex-col">
        <li>Instagram</li>
        <li>Facebook</li>
        <li>TikTok</li>
      </ul>
    </article>
  </section>
</footer>
