---
import Footer from '@/shared/components/footer.astro';
import MainLayout from '@/shared/layouts/main-layout.astro';
import ProductSection from '../../components/product-section/product-section.astro';

const currentTime = new Date().toLocaleTimeString();


---

<MainLayout>
	<main class="flex-1">
		<ProductSection />
		<h1>The current time is: {currentTime}</h1>
	</main>
	<Footer />
</MainLayout>
