---
export const prerender = false;
import MainLayout from '@/layouts/main-layout.astro';
import ProductSection from '../components/product-section.astro';
import Footer from '@/components/shared/footer.astro';

const currentTime = new Date().toLocaleTimeString();

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=0, s-maxage=31536000, stale-while-revalidate=0"
);

Astro.response.headers.set("netlify-cache-tag", "products");
---

<MainLayout>
	<main class="flex-1">
		<ProductSection />
		<h1>The current time is: {currentTime}</h1>
	</main>
	<Footer />
</MainLayout>
