---
import Footer from '../components/footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<main class="flex-1">
		<p>Holaaaa</p>
	</main>
	<Footer />
</Layout>
