---
export const prerender = false;
import Footer from '../components/footer.astro';
import ProductSection from '../components/product-section.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<main class="flex-1">
		<ProductSection />
	</main>
	<Footer />
</Layout>
